.filterSection {
    display: flex;
}

.mainContent {
    padding: 20px;
}

.title{
    font-weight: bolder;
}

.titleContainer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    fill: #459745;
}

.titleContainer:hover ~ .divider,
.divider:hover {
    width: 50%;
    transition: width 0.3s ease-in-out;
}

.divider {
    width: 11%;
    height: 3px;
    margin-left: 30px;
    background: rgb(69, 151, 69);
    margin-bottom: 4px;
    transition: width 0.3s ease-in-out;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 720px) {
    .filterSection{
        display: flex;
        flex-direction: column;
    }

    .titleContainer:hover ~ .divider,
    .divider:hover {
        width: 30%;
        transition: width 0.3s ease-in-out;
    }

    .divider {
        width: 11%;
        height: 3px;
        margin-left: 30px;
        background: rgb(69, 151, 69);
        margin-bottom: 4px;
        transition: width 0.3s ease-in-out;
    }

}
