@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    gap: 42px;
}

.cardHouse{
    margin-bottom: 30px;
}

.cardMain {
    background-color: white;
    margin-top: 20px;
    max-width: 350px;
    border-radius: 6px;
    transition: transform 0.3s ease, border-bottom-color 0.5s ease;

    border-bottom-width: 5px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-color: gray;

    border-color: green;
    position: relative;
    overflow: hidden; 
    cursor: pointer;
}

@media (max-width: 578px) {
    .cardMain {
        max-width: 98%;
        min-height: 460px;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 42px;
    }
}

.cardTitle {
    position: relative;
    overflow: hidden;
}

.cardImage {
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1; /* Garante que o overlay fique acima da imagem */
}

.eyeIcon {
    color: white;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
}

.cardMain:hover .cardImage {
    opacity: 0.3; /* Deixa a imagem mais esbranquiçada quando passa o mouse */
}

.cardMain:hover .overlay {
    opacity: 1; /* Exibe a sobreposição "Ver Mais" e o ícone */
}

.viewMore {
    margin-top: 8px;
    font-size: 1rem;
}

.cardMain:hover {
    cursor: pointer;
    transform: scale(1.02);
    border-bottom-width: 4px ;
    border-color: green;
    transition: transform 0.3s ease, border-bottom-color 0.5s ease;
}


.cardBody{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.title{
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: #514f4f;
}

.cardTitle img {
    border-top-left-radius: 6px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 6px; /* Arredonda o canto superior direito */
    width: 100%; /* Para que a imagem preencha o contêiner */
    max-height: 300px;
    height: auto; /* Mantém a proporção da imagem */
}

.title span{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;

    color: #252525;
}

.id{
    font-size: 0.8rem;
    padding: 4px;
    color: red;
    font-style: italic;
    margin-bottom: 4px;
}

.cityState{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 0.9rem;
    color: #514f4f;
}

.cityState svg {
    width: 1rem; /* Ajuste o valor conforme necessário */
    height: 1rem; /* Ajuste o valor conforme necessário */
}

.neighborhood{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 0.9rem;
    color: #514f4f;
}

.neighborhood svg {
    width: 1rem; /* Ajuste o valor conforme necessário */
    height: 1rem; /* Ajuste o valor conforme necessário */
}

.boxValue{
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(69,151,69);
}

.rooms{
    border-top: 1px solid #555353;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 6px;
    list-style: none; /* Remove os marcadores da lista */
}

.itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #4a4949;
}

.divider {
    width: 1px; /* Largura da linha */
    height: 40px; /* Altura da linha */
    border-radius: 4px;
    background: gray; /* Cor da linha */
    margin: 0 10px; /* Espaço entre a linha e os itens */
}

.itens svg {
    width: 1.2rem; /* Ajuste o valor conforme necessário */
    height: 1.2rem; /* Ajuste o valor conforme necessário */
}

