.inputWrapper{
}

.label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    gap: 5px;

    font-weight: 400 !important;
    text-transform: none !important;
}